@font-face {
    font-family: 'mifuente';
    src: url('..//ARMY RUST.ttf') format('truetype');
}

body {
    font-family: 'mifuente';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px; /* Añade padding para evitar que el contenido toque los bordes en pantallas pequeñas */
    margin: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
     
}

.custom-table {
    border-collapse: separate; /* Cambia a separate para permitir bordes individuales */
    border-spacing: 0; /* Elimina el espacio entre celdas */
    overflow-x: auto; /* Permite scroll horizontal en dispositivos pequeños */
    width: 100%; 
    max-width: 800px;
    margin-left: 80px;
    background-color: #cecaca;
    box-shadow: 0  10px 60px rgba(0, 0, 0, 0.19), 0 60px 60px rgba(0, 0, 0, 0.23);
    border: 1px solid #770606;
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    .custom-table {
        font-size: 14px; /* Reduce el tamaño de fuente en pantallas pequeñas */
    }
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative; /* Para posicionamiento de pseudo-elementos */
}

#cpl td {
    background-color: rgb(153, 156, 155);
}

#cpl:hover td {
    background-color: rgb(116, 12, 12);
    color: white;
}
/*
#cpl{
    background-color: rgb(131, 136, 134);
}

#cpl{
    background-color: rgb(153, 156, 155);
}
#cpl td:hover {
    background-color: rgb(116, 12, 12);
}

*/


.custom-table th {
    background-color: #4b1111;
    color: rgb(247, 243, 243);
    border-top: 1px solid #7c1e1e; /* Borde superior más claro */
    border-left: 1px solid #7c1e1e; /* Borde izquierdo más claro */
    border-right: 1px solid #2e0a0a; /* Borde derecho más oscuro */
    border-bottom: 1px solid #2e0a0a; /* Borde inferior más oscuro */
}

/* Efecto 3D para celdas */
.custom-table th::after, .custom-table td::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0) 100%);
    pointer-events: none; /* Permite interacciones con el contenido de la celda */
}
/* Efecto hover mejorado */
.custom-table tr:hover td {
    background-color: #0e913a;
    transition: background-color 1s ease;
}
.custom-table tr:nth-child() {
    background-color: #b8b3b3;
}

.custom-table tr:hover {
    background-color: #136133;
    color: white;
}

